neon-utils[network]~=1.1
ovos-utils~=0.0,>=0.0.25
tornado~=6.0
ovos-bus-client~=0.0.3
ovos-gui~=0.0.2,>=0.0.3a2
ovos-config~=0.0.4
# TODO: OPM dep patching ovos-gui
ovos-plugin-manager~=0.0.22,>=0.0.23a22